<!-- <p>contact works!</p> -->
<section>
    <div class="content-area">
        <div class="title-container">
            <div class="title-line"></div>
            <h2>Contact</h2>
            <div class="title-line" style="visibility:hidden;"></div>
        </div>
        <div class="contact-container">
            <div class="problem-solve">
                <h3>Got a problem to solve?</h3>
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
                <p>Need a Frontend developer? <b>Contact me!</b></p>
            </div>
            <div class="contact-form">
                <div class="input-wrapper"><input class="name" type="text" placeholder="Your name" required ><img src="./assets/img/contact/input-ok.png" alt=""></div>
                <div class="name-error">Your name is required</div>
                <div class="input-wrapper"><input class="email" type="email" placeholder="Your email" required><img src="./assets/img/contact/input-ok.png" alt=""></div>
                <div class="email-error">Your email is required</div>
                <div class="message-wrapper"><textarea class="text" placeholder="Your message" required></textarea><img src="./assets/img/contact/input-ok.png" alt=""></div>
                <div class="message-error">Messagetext is required</div>
                <label>
                    <div class="checkbox-wrapper">
                        <div class="checkbox"><input type="checkbox" required></div>
                        <div class="privacy">I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</div>
                    </div>
                    <span class="privacy-error">Please accept the privacy policy</span>
                </label>
                <div class="button-wrapper"><button type="submit">Send message :)</button></div>
            </div>
        </div>
    </div>
</section>