<!-- <p>contact works!</p> -->
<section>
    <div class="content-area">
        <div class="title-container">
            <div class="title-line"></div>
            <h2>Contact</h2>
            <div class="title-line" style="visibility:hidden;"></div>
        </div>
        <div class="contact-container">
            <div class="problem-solve">
                <h3>Got a problem to solve?</h3>
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
                <p>Need a Frontend developer? <b>Contact me!</b></p>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="contact-form">
                    <div class="input-wrapper">
                        <input class="name" type="text" formControlName="name" (focus)="onFocus('name')" placeholder="Your name">
                        @if(contactForm.controls['name'].valid && contactForm.controls['name'].touched){ 
                            <img src="./assets/img/contact/input-ok.png" alt="">
                        } @else if(contactForm.controls['name'].invalid && contactForm.controls['name'].touched){
                            <img src="./assets/img/contact/input-error.png" alt=""> 
                        }
                    </div>
                    <div class="name-error" [ngStyle]="{'visibility': contactForm.controls['name'].invalid && contactForm.controls['name'].touched ? 'visible' : 'hidden'}">
                        Your name is required and must contain only letters!
                    </div>
                    <div class="input-wrapper">
                        <input class="email" type="email" formControlName="email" (focus)="onFocus('email')" placeholder="Your email">
                        @if(contactForm.controls['email'].valid && contactForm.controls['email'].touched){ 
                            <img src="./assets/img/contact/input-ok.png" alt="">
                        } @else if(contactForm.controls['email'].invalid && contactForm.controls['email'].touched){
                            <img src="./assets/img/contact/input-error.png" alt=""> 
                        }
                        </div>
                    <div class="email-error" [ngStyle]="{'visibility': contactForm.controls['email'].invalid && contactForm.controls['email'].touched ? 'visible' : 'hidden'}">
                        Your email is required and must include the symbol.
                    </div>
                    <div class="message-wrapper">
                        <textarea class="text" formControlName="message" (focus)="onFocus('message')" placeholder="Your message"></textarea>
                        @if(contactForm.controls['message'].valid && contactForm.controls['message'].touched){ 
                            <img src="./assets/img/contact/input-ok.png" alt="">
                        } @else if(contactForm.controls['message'].invalid && contactForm.controls['message'].touched){
                            <img src="./assets/img/contact/input-error.png" alt=""> 
                        }
                    </div>
                    <div class="message-error" [ngStyle]="{'visibility': contactForm.controls['message'].invalid && contactForm.controls['message'].touched ? 'visible' : 'hidden'}">
                        Message text must be at least 4 characters long.
                    </div>
                    <label>
                        <div class="checkbox-wrapper">
                            <div class="checkbox">
                                <input type="checkbox" formControlName="privacy" (change)="onCheckboxChange()">
                            </div>
                            <div class="privacy">
                                I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
                            </div>
                        </div>
                        <span class="privacy-error" [ngStyle]="{'visibility': contactForm.controls['privacy'].invalid && contactForm.controls['privacy'].touched ? 'visible' : 'hidden'}">
                            Please accept the privacy policy.
                        </span>
                    </label>
                    <div class="button-wrapper">
                        <button type="submit" [disabled]="contactForm.invalid">Send message :)</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


