<section>
<!-- <p>about-me works!</p> -->
 <!-- <img class="background-image" src="./assets/img/purple-shadow-about-me-30.png" alt=""> -->
 <div class="content-area">
    <img class="background-image" src="./assets/img/purple-shadow-about-me-30.png" alt="">
    <div class="about-me">
        <h2>About me</h2>
        <p>Hi, I’m a german speaking Frontend Developer based near Münsterland. Motivated by the limitless 
           opportunities within IT, I am excited about crafting visually captivating and intuitive 
           websites and applications.</p>
        <div class="logo-text">
            <div class="icon-wrapper"><img class="icon" src="./assets/img/about-me/location.png" alt=""></div>
            <p>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</p>
        </div>
        <div class="logo-text">
            <div class="icon-wrapper"><img class="icon" src="./assets/img/about-me/bulb-desktop.png" alt=""></div>
            <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
        </div>
        <div class="logo-text">
            <div class="icon-wrapper"><img class="icon" src="./assets/img/about-me/puzzle-desktop.png" alt=""></div>
            <p>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. 
               I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. 
               This way, I help you achieve your goals and bring your visions to life.</p>
        </div>
    </div>
    <div class="profile">
        <img class="profile-img" src="./assets/img/about-me/dominik.png" alt="">
        <img class="line-img" src="./assets/img/about-me/line.png" alt="">
    </div>




 </div>
</section>