<section>
<!-- <p>about-me works!</p> -->
 <!-- <img class="background-image" src="./assets/img/purple-shadow-about-me-30.png" alt=""> -->
 <div class="content-area">
    <img class="background-image" src="./assets/img/purple-shadow-about-me-30.png" alt="">
    <div class="about-me">
        <h2>{{'aboutMe' | translate }}</h2>
        <p>{{'aboutMe_main' | translate }}</p>
        <div class="logo-text">
            <div class="icon-wrapper"><img class="icon" src="./assets/img/about-me/location.png" alt=""></div>
            <p>{{'aboutMe_flexible' | translate }}</p>
        </div>
        <div class="logo-text">
            <div class="icon-wrapper"><img class="icon" src="./assets/img/about-me/bulb-desktop.png" alt=""></div>
            <p>{{'aboutMe_challenges' | translate }}</p>
        </div>
        <div class="logo-text">
            <div class="icon-wrapper"><img class="icon" src="./assets/img/about-me/puzzle-desktop.png" alt=""></div>
            <p>{{'aboutMe_profession' | translate }}</p>
        </div>
    </div>
    <div class="profile">
        <img class="profile-img" src="./assets/img/about-me/dominik.png" alt="">
        <img class="line-img" src="./assets/img/about-me/line.png" alt="">
    </div>




 </div>
</section>