<!-- <p>skills works!</p> -->
<section>
    <div class="content-area">
        <div class="skills-wrapper-mobile">
            <div class="skills-text-mobile">
                <h2>{{'skills_headline' | translate }}</h2>
                <p>{{'skills_main' | translate }}</p>
            </div>
            <div class="purple-line">
                <img src="./assets/img/my-skills/purple-line.png" alt="">
            </div>
        </div>
        <div class="skills-icons">
            @for(item of icons; track $index){
                <div class="singleIcon">
                    <div class="icon-wrapper"><img src="{{ item.icon }}" alt=""></div>
                    <div class="text-wrapper">{{ item.description }}</div>
                </div>
            }
        </div>
        <div class="call-to-action-mobile">
            <h3>{{'skills_cta_1' | translate }}<span class="purple">{{'skills_cta_2' | translate }}</span>?</h3>
            <p>{{'skills_contact' | translate }}</p>
            <button (click)="scrollToSection('contactLink')">{{ 'skills_contact_button' | translate }}</button>
        </div>
        <div class="skills-wrapper">
            <div class="skills-text">
                <h2>{{'skills_headline' | translate }}</h2>
                <p>{{'skills_main' | translate }}</p>
                <div class="call-to-action">
                    <h3>{{'skills_cta_1' | translate }} <span class="purple">{{'skills_cta_2' | translate }}</span>?</h3>
                    <p>{{'skills_contact' | translate }}</p>
                    <button (click)="scrollToSection('contactLink')">{{ 'skills_contact_button' | translate }}</button>
                </div>
            </div>
            <div class="purple-line">
                <img src="./assets/img/my-skills/purple-line.png" alt="">
            </div>
        </div>
        <img class="background-image" src="./assets/img/my-skills/green-shadow-full.png" alt="">
    </div>    
</section>