section{
    margin: 0;
    background-color: rgb(20, 29, 47);
    height: 100vh;
    color: white;
}

p{
    margin: 0;
}

.img-container-profile{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 646px;
    overflow: hidden;
    background-image: url('../../../assets/img/photo-shadows-29.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    >img{
        width: 90%;
        height: 90%;
        object-fit: cover;
        object-position: center;
    }
}

// .img-container-bow{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // max-width: 1440px;
//     height: auto;
//     overflow: hidden; 
//     >img{
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//     }
// }

// .hero-background{
//     max-width: 1440px;
//     height: auto;
//     object-fit: cover;
//     object-position: center;
// }


// @media(min-width: 645px){
//     .img-container-bow{ 
//         // width: 0%;
//         max-width: 1440px;
// }}

.background-image-container {
            max-width: 1440px;
            overflow: hidden;
            position: absolute;
            top: 200px;
            z-index: 5;
        }

        // .background-image-container img {
        //     // width: 100vw;
        //     // height: auto; 
        // }

        @media (max-width: 665px) {
            // .background-image-container {
            //     height: auto;
            // }

            .background-image-container{
                // top: 150px; 
                width: 100%;
                height: auto;
            }
        }