<section>
    <!-- <div class="background-image-container"><img src="./assets/img/hero-background-28.png" alt="" /></div> -->
    <div class="content-area">
        <div class="background-image-container">
            <img class="background-image-bow"src="./assets/img/hero-background-28.png" alt="">
            <div class="img-container-profile"><img src="./assets/img/hero character photo.png" alt="" /></div>
        </div>
            <div class="info-wrapper">
                <div class="info-headline">
                    <div class="iam"><span>I am</span></div>
                <div class="name-title">
                    <span class="name">Heiko Nickel</span>
                    <span class="title">Frontend Developer</span>
                </div>
            </div>
            <button (click)="scrollToSection('contactLink')">Let&#039;s talk!</button>
        </div>
        <div class="social-scroll">
            <div class="social">
                <img src="./assets/img/welcome/purple-line.png" alt="">
                <div class="wrapper-icons"><img src="./assets/img/welcome/github-button.png" alt=""></div>
                <div class="wrapper-icons"><img src="./assets/img/welcome/email-button.png" alt=""></div>
                <div class="wrapper-icons"><img src="./assets/img/welcome/linkedIn-button.png" alt=""></div>
                <div class="wrapper-text email-social"><img src="./assets/img/welcome/example-mail.png" alt=""></div>
            </div>
            <div class="scroll">
                <!-- <div class="wrapper-text"> -->
                    <img src="./assets/img/welcome/scrollDown.png" alt=""></div>
            <!-- </div> -->
        </div>
    </div>
</section>