<section>
    <!-- <div class="background-image-container"><img src="./assets/img/hero-background-28.png" alt="" /></div> -->
    <div class="content-area">
        <div class="background-image-container"></div>
        <div class="img-container-profile"><img src="./assets/img/hero character photo.png" alt="" /></div>
            <div class="info-wrapper">
                <div class="info-headline">
                    <div class="iam"><span>I am</span></div>
                <div class="name-title">
                    <span class="name">Heiko Nickel</span>
                    <span class="title">Frontend Developer</span>
                </div>
            </div>
            <button>Let&#039;s talk!</button>
        </div>
    </div>
</section>