<!-- <p>footer works!</p> -->
<footer>

    <div class="content-area">
        <div class="footer-wrapper">
        <div class="logo-copyright-icon-wrapper">
            <div class="logo">
                <a href="#welcomeLink"><img src="./assets/img/header/logo-transparent-png.png" alt="" href="#mainPage"></a>
            </div>
            <div class="copyright">
                &copy; Heiko Nickel
            </div>
            <div class="social">
                <div class="wrapper-icons"><img src="./assets/img/welcome/github-button.png" alt=""></div>
                <div class="wrapper-icons"><img src="./assets/img/welcome/email-button.png" alt=""></div>
                <div class="wrapper-icons"><img src="./assets/img/welcome/linkedIn-button.png" alt=""></div>
            </div>
        </div>
        <div class="legal">
            <a [routerLink]="['/imprint']">Legal Notice</a>
        </div>
    </div> 
    </div>
</footer>