section{
    margin: 0;
    // padding-bottom: 50px;
    background-color: #141d2f;
    width: 100%;
    color: white;
    position: relative;
    color: white;
    font-family: 'Poppins';
}

.content-area{
    max-width: 1440px;
    padding-top: 75px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: clip;
    box-sizing: border-box;
}

.background-image{
    position: absolute;
    right: -350px;
    bottom: -30px;
    z-index: 2;
}

.review-control-wrapper{
    display: flex;
    flex-direction: column;
}

.review-wrapper {
    display: flex;
    max-width: 1200px;
    gap: 40px;
    justify-content: space-between;
}

.review-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2; 
    max-width: 75%; 
    height: auto;
    border: 4px solid #70e61C;
    border-radius: 30px;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 15;
}

.review-text{
    height: 200px;
    overflow: auto;
    padding-right: 10px;
    margin-bottom: 20px;
}

.review-text::-webkit-scrollbar {
    width: 6px;
}
  
.review-text::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px; /* Optional: abgerundete Ecken für die Scroll-Leiste */
}
  
.review-text::-webkit-scrollbar-thumb {
    background-color: #70e61C;
    border-radius: 10px;
    border: 2px solid transparent;
}

.apostroph{
    position: absolute;
    top: -40px;
    left: -65px;
}

.name-container {
    display: flex;
    align-items: center;
    // height: 40px;
    > .line {
        height: 4px;
        background-color: #9E4FFF;
        margin-right: 20px;
        flex-grow: 1;
    }
    > .name {
        position: relative;
    }
}

.profile {
    display: flex;
    align-items: center;
    position: relative; 
}

.profile-img {
    border: 4px solid #9E4FFF;
    width: 100%; 
    max-width: 230px; 
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
    z-index: 11;
    padding: 10px;
}

.image-line {
    height: 4px;
    width: 100%;
    background-color: #9E4FFF;
    flex-grow: 1;
    position: absolute;
    top: 50%; 
    left: 100%; 
    right: 0; 
    transform: translateY(-50%); 
    transition: width 0.3s ease;
    z-index: 3;
}

.review-control{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    >img{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

.indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.indicator{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #70e61C;
}

.indicator.active{
    background-color: #9E4FFF;
}

@media (max-width: 1350px) {
    .review-wrapper{
        max-width: 950px;
    }
    .review-frame {
        max-width: 68%;
    }
    .apostroph{
        position: absolute;
        top: -35px;
        left: -60px;
        >img{
        height: 58px;
        width: 87px;
        }
    }
}

@media (max-width: 1090px) {
    .review-wrapper{
        max-width: 830px;
    }
    .review-frame {
        max-width: 67%;
        padding: 20px;
    }
    .profile{
        >img{
            max-width: 200px;
        }
    }
}

@media (max-width: 970px) {
    .review-wrapper{
        max-width: 700px;
    }
    .review-frame {
        max-width: 61%;
    }
    .profile{
        >img{
            max-width: 200px;
        }
    }
    .apostroph{
        top: -20px;
        left: -55px;
        >img{
        height: 48px;
        width: 77px;
        }
    }
}

@media (max-width: 840px) {
    .review-wrapper{
        flex-direction: column-reverse;
        align-items: center;
        max-width: 100%;
    }
    .review-frame {
        min-height: 250px;
        margin: 0 20px;
        max-width: 100%;
    }
    .image-line{
        width: 150%;
    }
    .apostroph{
        top: -30px;
        left: -17px;
    }
}

@media (max-width: 550px) {
    .review-frame {
        padding: 20px 15px;
    }
    .review-text{
        line-height: 1.25;
    }
    .apostroph{
        top: -35px;
    }
}

@media (max-width: 420px) {
    .profile{
        >img{
            max-width: 150px;
        }
    }
    .line{
        display: none;
    }
}