<!-- <p>reviews works!</p> -->
<section>
    <div class="content-area">
        <div class="review-wrapper">
            <div class="review-frame">
                <div class="review-text">
                    Michael really kept the team together with his great organization and clear communication. We wouldn't have got this far without his commitment.
                </div>
                <div class="name-container">
                    <div class="line"></div>
                    <span class="name">N.Schuster - Frontend Developer</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile-img" src="./assets/img/reviews/woman.png" alt="">
                <div class="image-line"></div> <!-- Linie rechts neben dem Bild -->
            </div>

        </div>
    </div>
</section>