<!-- <p>portfolio works!</p> -->

<section>
    <div class="content-area">
        <div class="headline-wrapper">
            <div class="headline">
                <img class="line-short" src="./assets/img/portfolio/purple-line-short.png" alt="">
                <h2>Portfolio</h2>
                <img class="line-long" src="./assets/img/portfolio/purple-line-long.png" alt="">
            </div>
            <p>{{ 'portfolio' | translate}}</p>
        </div>
        @for(item of project; track $index){
        <div class="single-project">
            <div class="img-container">
                <img src= "{{ item.img }}" alt="">
            </div>
            <div class="project-infos">
                <div class="name">{{ item.name }}</div>
                <div class="skills">{{ item.skills }}
                </div>
                <div class="description">{{ item.description | translate}}</div>
                <div class="buttons">
                    <a [href]= "item.liveTestLink" target="_blank" rel="noopener noreferrer"><button class="live" >Live test</button></a>
                    <a [href]= "item.gitHubLink" target="_blank" rel="noopener noreferrer"><button class="github">Github</button></a>
                </div>
            </div>
        </div>
        }
        <img class="background-image" src="./assets/img/portfolio/purple-shadow-portfolio.png" alt="">
        <img class="background-image-green" src="./assets/img/reviews/green-shadow.png" alt="">
    </div>    
</section>
