<!-- <p>portfolio works!</p> -->

<section>
    <div class="content-area">
        <div class="headline-wrapper">
            <div class="headline">
                <img class="line-short" src="./assets/img/portfolio/purple-line-short.png" alt="">
                <h2>Portfolio</h2>
                <img class="line-long" src="./assets/img/portfolio/purple-line-long.png" alt="">
            </div>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        </div>
        <div class="single-project">
            <div class="img-container">
                <img src="./assets/img/portfolio/join.png" alt="">
            </div>
                <div class="project-infos">
                    <div class="position-wrapper">
                    <div class="name">Join</div>
                    <div class="skills">Angular | TypeScript | HTML | CSS | Firebase</div>
                    <div class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </div>
                    <div class="buttons">
                        <button>Live test</button>
                        <button>Github</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
